#logoBar{
  width: 30vw;
  height: 100vh;
  align-content: center;
  /* align-items: center; */
  padding: 2rem;
}

#siteLogo{
  width: 100%;
}

body {
  display: flex;
  background-color: rgb(196, 232, 255);
}

h1, h3, h3 {
  color: rgb(0, 53, 87);
  font-family: 'Plus Jakarta Sans', sans-serif;
  flex-wrap: wrap;
  text-align: center;
}

hr {
  border: 1px solid rgb(0, 53, 87);
  margin: 2rem;
}

#staffGallery{
  width: 70vw;
  display: inherit;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-evenly;
  /* justify-items: center; */
}

.galleryImage{
  /* width: auto; */
  /* height: auto; */
  max-width: 100px;
  /* display: block; */
}

.card {
  background-color: rgb(227, 241, 255);
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 52, 110, 0.5);
  max-width: 200px;
  /* max-height: 350px; */
  width: auto;
  height: auto;
  margin: 2rem 0rem;
  padding: 1rem 2rem;
}

@media screen and (max-width:600px) {
  body {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #logoBar {
    width: 100vw;
    text-align: center;
    height: auto;
  }

  #siteLogo{
    max-width: 80vw;
  }

  #staffGallery{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    /* justify-items: center; */
  }

  hr {
    margin: 0rem;
    justify-content: center;
  }

}


/* #logoBar{
  width: 100vw;
  text-align: center;
}
#siteLogo{
  max-width: 80vw;
}
body {
  background-color: rgb(196, 232, 255);
}

#staffGallery{
  display: flex;
  flex-wrap: wrap;
  
}
.galleryImage{
  width: 100%;
  height: auto;
  height: 300px;
}

h1, h3 {
  color: rgb(0, 53, 87);
  font-family:Georgia, 'Times New Roman', Times, serif;
  flex-wrap: wrap;
}

hr {
  border: 1px solid rgb(0, 53, 87);
  margin: 5rem;
} */